/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Verdana',Arial,Helvetica, sans-serif;
}

body, html {
  font-size: 12px;
  height: 100%;
}

/*/////////////////////*/

/* Estilos generales para todos los dispositivos */

body {
  margin: 1%;
  background: linear-gradient(to bottom,#001f3f,#003366,#004080,
 #004080,#004080,#004080,#004080);

}

.contenedor-titulo { 
 display: flex;
 position: relative;
 padding:40px 10px;
} 
 
 
.rectangulo { 
 width: 100%; 
 height: 30vmin; 
 background: linear-gradient(to bottom,#001f3f,#003366,#004080,
 #004080,#004080);
 border-radius:100% 50% 10% 50%;
 border: 10px solid #999;
 border-top: 20px solid #999;
 box-shadow: 5px 5px 10px;
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////*/

.circulo{ 
 width: 40vmin; 
 height: 40vmin; 
 border-radius: 50%; 
 position: absolute;
 z-index: 1;
 border: 3px solid #999;
 box-shadow: 0px 5px 10px;
 }  

 .imagen-sims {
  width: 100%;
  height: 100%; 
  background-image: url('../Iconos/sims.png'); 
  background-size: cover; 
  background-position: center;
} 
 
 .mini-circulo {
 width: 8vmin;
 height: 8vmin; 
 background-color: #004080; 
 border-radius: 50%; 
 position: absolute; 
 z-index: 1; 
 border: 5px solid #999; 
 bottom: -2vmin;
 left: 50%; 
 transform: translateX(-50%); 
 box-shadow: 0px 2px 10px;
 
} 

.boton-con-imagen {
  width: 100%; /* Ajustado al 100% del contenedor .miniCirculo */
  height: 100%; /* Ajustado al 100% del contenedor .miniCirculo */
  background-image: url('../Iconos/Lineas.png');
  background-size: cover;
  background-position: center;
  border: none; /* Eliminar el borde del botón si es necesario */
  background-color: rgba(0, 64, 128, 0.5);
  border-radius: 50%; 
}

/* ///////////////  */
.contenedor-main-flex {
  display: flex;
  padding: 10px;
  margin:2px;
  border-radius: 10px;
}

.contenedor-flex {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
  margin:2px;
  background-color: #0066cc;
  border-radius: 10px;
}


/*///////////////////*/

.contenedor-izquierdo-flex {
  /* display: flex;  */
  position: absolute;
  width: 70%;
  flex-direction: column;
  padding: 10px;
  margin:2px;
  border-radius: 10px;
  background: linear-gradient(to bottom,#003366,#004080,#004080,
  #1863B8,#1863B8,#1863B8,#1863B8);
}  

.contenedor-cosas{
  display: flex; 
  margin:30px 10px;
  flex-direction: column;
}
.contenedor-cosas-arriba{
  display: flex; 
  justify-content: center;
  align-items: center;
  padding: 5px; 
  height: 50px;
  border-radius: 10px 10px 0px 0px;
  background: linear-gradient(to top,#001f3f,#003366,#004080,
#004080,#004080,#004080,#004080);
}

.contenedor-cosas-imagen-login{
  width: 100%;
  height: 100%;
  /* background-image: url('../Iconos/login.png'); */
  background-image: url('../Iconos/header_login.png');
  background-size: contain; 
  background-position: center;
  background-repeat: no-repeat;
}
.contenedor-cosas-imagen-registro{
  width: 80%; /* Ajusta el ancho según sea necesario */
  height: 100%;
  /* background-image: url('../Iconos/login.png'); */
  background-image: url('../Iconos/btn_register.png');
  background-size: contain; 
  background-position: center;
  background-repeat: no-repeat;
}
.contenedor-cosas-abajo{
  flex: 1;
  padding: 10px;
  padding-right: 20%;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 100%;
  background-color: #045BB3;
  border-radius: 0px 0px 10px 10px;
  flex-direction: column; 
}
/* .Bienvenida-login h2{
  padding: 20px, 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
} */
/* .contenedor-cosas-abajo-nav {
  width: 100%;
  display: flex;
  justify-content: right; 
  align-items: center;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
} */

.formulario-login,.formulario-nav-registro {
 /* max-width: 400px; Establece un ancho máximo para mejor legibilidad */
  padding: 1px;
  background-color: #045BB3;
  border-radius: 10px;
 /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); Sombra opcional para resaltar el formulario */
}

/* Ajusta estilos según tus necesidades */

input {
  width: 100%;
  height: 45px;
  padding: 2px;
  margin: 2px;
  font-size: 15px;
  box-sizing: border-box;
  border-radius: 10px;
  background: linear-gradient(to top,#001f3f,#003366,#004080,
#004080,#004080,#004080,#004080);
}

input[type="submit"] {
  cursor: pointer; 
  margin: auto;
}

.boton-login,.boton-registrar{
  margin: auto;
  background-image: url('../Imagenes/btn_login.png');
  background-size: contain; 
  background-position: left; 
  background-repeat: no-repeat;
  border: none;
  position: absolute;
  width: 60px;
  height: 60px;
  right: 40px;
}
 .boton-nav-registrar{
  margin: auto;
  background-size: contain;
  background-position: center; 
  background-repeat: no-repeat;
  padding: 5px; 
  border: none;
  width: 100%;
  height: 80px;
} 
.boton-nav-registrar{
  background-image: url('../Iconos/btn_registernow.gif');
}
/* .boton-nav-perfil{
  background-image: url('../Iconos/perfil.png');
}  */

.mensaje-error{
  display: none;
  position: relative;
  color: white;
  padding: 10px;
  border-radius: 0px 0px 10px 10px;
}

@keyframes fadeIn {
  from {
      opacity: 0;
 }
 to {
      opacity: 1;
 }
 }
 
 #mensajeError{
     animation: fadeIn 0.1s ease-in-out; 
 }
.contenedor-rectangulo-izquierdo{
  width: 30%;
  height: 100%;
}
.contenedor-rectangulo-derecho {
  width: 70%;
  height: 100%;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}
.contenedor-icono{
  padding: 0% 3%;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}
 .contenedor-icono-inicio,.contenedor-icono-diario{
  padding: 5px 5px;
  background-size: contain; 
  background-position: center;
  background-repeat: no-repeat;
}
.contenedor-icono-inicio{
  width: 30px;
  height: 70px; 
  background-image: url('../Iconos/logo.png');
}
.contenedor-icono-diario{
  width: 50px;
  height: 50px; 
  background-image: url('../Imagenes/diario.png');
}

/* ///////////////////////////////////////////////////////////////////////////////////////// */

/* Estilos para dispositivos de escritorio */
@media only screen and (min-width: 769px) {
  body{
    margin: 5% 7%;
  }
  .contenedor-izquierdo-flex{
    /* display: flex; */
    position: relative;
    width: 250px;
  }
  input{
    height: auto;
    font-size: 12px;
  }
  /* input[type="submit"]:hover {
    background-color:#0077cc;
    margin: auto;
    background-size: contain; 
    background-position: right;
    background-repeat: no-repeat;
  } */
  .contenedor-cosas{
    display: flex; 
    margin:15px 2px;
    flex-direction: column; 
  }
  .boton-login,.boton-registrar{
    right: 12px;
    width: 40px;
    height: 40px;
  }

  .mini-circulo {
    display: none;
  }
  .mensaje-error{
    padding: 6px;
  }
  /* Agrega más estilos específicos para pantallas de escritorio */
}

/* Estilos para tablets y dispositivos con pantalla más pequeña */
@media only screen and (max-width: 768px) {

.contenedor-izquierdo-flex {
  display: none;
}
.mini-circulo:active {
 background-color:#0077cc;
}
@keyframes fadeIn {
 from {
     opacity: 0;
}
to {
     opacity: 1;
}
}

#contenedor-formulario{
    animation: fadeIn 0.1s ease-in-out; 
}

  /* Agrega más estilos específicos para tablets */
}

/* Estilos para teléfonos móviles y dispositivos con pantalla muy pequeña */
@media only screen and (max-width: 480px) {

  .contenedor-izquierdo-flex {
    display: none;
  }
  .circulo{ 
    width: 45vmin; 
    height: 45vmin; 
    border-radius: 50%; 
    position: absolute;
    z-index: 1;
    border: 3px solid #999;
    box-shadow: 0px 5px 10px;
    }
    
  .imagen-sims {
    width: 100%;
    height: 100%; 
    background-image: url('../Iconos/sims.png');
    background-size: cover; 
    background-position: center;
  }

  .mini-circulo {
    width: 10vmin;
    height: 10vmin; 
    background-color: #004080; 
    border-radius: 50%; 
    position: absolute; 
    z-index: 1; 
    border: 5px solid #999; 
    bottom: -5vmin;
    left: 50%; 
    transform: translateX(-50%); 
    box-shadow: 0px 2px 10px;
    cursor: pointer;
   }
   .miniCirculo:active {
    background-color:#0077cc;
   }

   @keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#contenedor-formulario{
    animation: fadeIn 0.1s ease-in-out; 
}

}
