.diario{
    width: 100%;
}
.cada-diario { 
    padding: 2px;
 
    width: 100%;
} 
.diario-datos,
.diario-autor,
.diario-fav {
    margin: 2px;
    background-color:#0077cc;
    padding: 8px;
}
.diario-datos .diario-datos-abajo {
    display: grid; grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 5px;
}
   
.diario-autor{ 
    grid-row: 2;
    display: grid;
    place-items: center;
}
.diario-derecho{
    display: flex;
}
.diario-autor, .diario-fav{
    width: 100%;
    /* position: relative; */
    display: grid;
    place-items: center;
    
}

h4{
    padding:1px;
    margin:1px;
}

a {
    text-decoration: none; 
}
.tituloF{
    margin: 5px;
    padding: 2px;
}

select{
    margin: 5px;
    padding: 2px;
    color: white;
    border: none;
    width: 100%;
    border-radius: 3px;
    background: linear-gradient(to top, #001f3f, #003366, #004080, #004080, #004080, #004080, #004080);
}

option {
    color: black;
  
}

/* Estilos para dispositivos de escritorio */
@media only screen and (min-width: 769px) {
    .cada-diario { 
        display: flex;
    } 
    
    .diario-datos{
        width: 100%; 
    }
    .diario-autor{
        width: 150px;
        grid-row: 2;
        display: grid;
        place-items: center;
    }
    .diario-fav{
        width: 30px;
    }
    .diario-derecho{
        display: flex;
    }
    /* Agrega más estilos específicos para pantallas de escritorio */
  }