.diario{
    width: 100%;
}
.cada-diario { 
    padding: 2px;
 
    width: 100%;
} 
.diario-datos,
.diario-autor,
.diario-fav {
    margin: 2px;
    background-color:#0077cc;
    padding: 8px;
}
.diario-datos .diario-datos-abajo {
    display: grid; grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 5px;
}
   
.diario-autor{ 
    grid-row: 2;
    display: grid;
    place-items: center;
}
.diario-derecho{
    display: flex;
}
.diario-autor, .diario-fav{
    width: 100%;
    position: relative;
}

h4{
    padding:1px;
    margin:1px;
}

a {
    text-decoration: none; 
}

.boton-diario-fav{
    width: 30px;
    height: 30px; 
    background-image: url('../Iconos/estrella_negra.png');
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat;
    border: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.boton-diario-fav:hover{
    background-image: url('../Iconos/estrella_amarilla.png');
}
/* Estilos para dispositivos de escritorio */
@media only screen and (min-width: 769px) {
    .cada-diario { 
        display: flex;
    } 
    
    .diario-datos{
        width: 100%; 
    }
    .diario-autor{
        width: 150px;
        grid-row: 2;
        display: grid;
        place-items: center;
    }
    .diario-fav{
        width: 30px;
    }
    .diario-derecho{
        display: flex;
    }
    /* Agrega más estilos específicos para pantallas de escritorio */
  }