* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Verdana',Arial,Helvetica, sans-serif;
    color: white;
}
    

body {
  background: linear-gradient(to right,#001f3f,#003366,#004080,#004080);
  text-align: center;
  padding: 20px;
}

h1 {
  color: #d9534f;
}

h1 {
  color: #d9534f;
}

p {
  font-size: 18px;
}